* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

body {
    width: auto;
    height: 100%;
    background-color: #282828;
    font-family: 'Poiret One';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 46px;
    background-color: #DBD7A4;
    display: flex;
    position: relative;
    align-items: center;
}

.title {
    position: absolute;
    right: 5%;
    font-family: 'Poiret One';
    color: #F5F5F5;
    font-size: 32px;
    font-weight: 400;
}

.burger {
    width: 43px;
    height: 27px;
    margin-left: 30%;
}

h1 {
    color: #D2C64B;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 90px;
}


main {
    display: flex;;
    justify-content: center;
    padding-top: 20%;
}

.button {
    width: 85%;
    height: auto;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #D2C64B;
    background-color: #E4E1C0;
    font-size: 32px;
    padding: 7% 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media (min-width: 1280px) {
    header {
        height: 7vh;
    }

    .burger {
        margin-left: 100%;
    }

    h1 {
        color: #D2C64B;
        font-size: 100px;
        font-weight: 400;
        text-align: center;
        margin-top: 90px;
    }

    main {
        padding-top: 10%;
    }
    .button {
        width: 70%;
        padding: 5% 7%;
        font-size: 48px;
    }
    
}