* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

.body {
    height: 100vh;
}

.header {
    width: 100%;
    height: 6vh;
    background-color: #DBD7A4;
    display: flex;
    position: relative;
    align-items: center;
}

.title {
    position: absolute;
    right: 5%;
    font-family: 'Poiret One';
    color: #F5F5F5;
    font-size: 32px;
    font-weight: 400;
}

.burger {
    width: 43px;
    height: 27px;
    position: absolute;
    left: 3%;
    top: 20%;
}

main {
    width: auto;
    /* height: 100%; */
    height: 94vh;
    display: flex;
    flex-direction: column;
}

.first {
    width: auto;
    height: 45vh;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.first:hover {
    background-color: #cac47e;
}

.first-image-block {
    width: 100%;
    height: 74%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-image{
    width: 180px;
    height: 180px;
}

.first-question {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #29292E;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #F5F5F5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    position: absolute;
    bottom: 0;
    text-align: center;
}


.second {
    width: auto;
    height: 49vh;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.second:hover {
    background-color: #cac694cb;
}

.vs {
    font-size: 48px;
    font-weight: 500;
    color:#D2C64B;
    position: absolute;
    top: -10px;
    -webkit-text-stroke: 0.5px #000;
}

.second-image-block {
    width: 100%;
    height: 74%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-image{
    width: 180px;
    height: 180px;
}

.second-question {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #29292E;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #F5F5F5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

/* --------------------Desktop Version-------------------- */
@media (min-width: 1024px) {
    .header {
        height: 7vh;
    }

    main{
        height: 93vh;
        flex-direction: row;
    }

    .first {
        width: 50%;
        height: auto;
    }

    .first-image {
        width: 50%;
        height: auto;
    }

    .first-question {
        font-size: 38px;
        padding: 5% 10%;
        height: 23%;
        border: 10px #353552 solid;
    }

    .vs {
        font-size: 104px;
        top: auto;
        left: -8.5%;
        bottom: 50%;
    }

    .second {
        width: 50%;
        height: auto;
    }

    .second-image {
        width: 50%;
        height: auto;
    }

    .second-question {
        font-size: 38px;
        padding: 5% 10%;
        height: 23%;
         border: 10px #353552 solid;
    }
}