* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

.header {
    width: 100%;
    height: 6vh;
    background-color: #DBD7A4;
    display: flex;
    position: relative;
}

.title {
    position: absolute;
    right: 5%;
    font-family: 'Poiret One';
    color: #F5F5F5;
    font-size: 32px;
    font-weight: 400;
}

main {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.first {
    width: auto;
    height: 45vh;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-image-block {
    width: 100%;
    height: 74%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-image{
    width: 180px;
    height: 180px;
}

.first-question {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #29292E;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #F5F5F5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    
}

.second {
    width: auto;
    height: 49vh;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.vs {
    font-size: 48px;
    font-weight: 500;
    color:#D2C64B;
    position: absolute;
    top: -10px;
    -webkit-text-stroke: 0.5px #000;
}

.second-image-block {
    width: 100%;
    height: 74%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-image{
    width: 180px;
    height: 180px;
}

.second-question {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #29292E;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #F5F5F5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    position: absolute;
    bottom: 0;
}